---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}</time>
        </p>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}

        {% if manual_pdf or  manual_pdf2 or manual_pdf3 or manual_pdf4 or manual_pdf5 %}
        <div>
            <h4>Allegati</h4>
            {% if manual_pdf %}
            <div><a href="{{ manual_pdf }}">
                {{ manual_pdf.replaceAll('/static/img/','').replaceAll('.pdf','').replaceAll('.doc','').replaceAll('-',' ',false).replaceAll('.',' ') }}
            </a></div>
            {% endif %}
            {% if manual_pdf2 %}
            <div><a href="{{ manual_pdf2 }}">
                {{ manual_pdf2.replaceAll('/static/img/','').replaceAll('.pdf','').replaceAll('.doc','').replaceAll('-',' ',false).replaceAll('.',' ') }}
            </a></div>
            {% endif %}
            {% if manual_pdf3 %}
            <div><a href="{{ manual_pdf3 }}">
                {{ manual_pdf3.replaceAll('/static/img/','').replaceAll('.pdf','').replaceAll('.doc','').replaceAll('-',' ',false).replaceAll('.',' ') }}
            </a></div>
            {% endif %}
            {% if manual_pdf4 %}
            <div><a href="{{ manual_pdf4 }}">
                {{ manual_pdf4.replaceAll('/static/img/','').replaceAll('.pdf','').replaceAll('.doc','').replaceAll('-',' ',false).replaceAll('.',' ') }}
            </a></div>
            {% endif %}
            {% if manual_pdf5 %}
            <div><a href="{{ manual_pdf5 }}">
                {{ manual_pdf5.replaceAll('/static/img/','').replaceAll('.pdf','').replaceAll('.doc','').replaceAll('-',' ',false).replaceAll('.',' ') }}
            </a></div>
            {% endif %}
        </div>
        {% endif %}
    </article>

</div>