---
layout: default
title: Home
path: home
---

<div class="container mx-auto min-h-min flex flex-col justify-center items-center">
  <div class="w-1/2 my-2">
    <img class="border rounded object-cover h-auto w-full min-w-96" src="/static/img/ricostruzione-equa-partecipata-trasparente.jpeg" alt="ricostruzione equa partecipata trasparente" />
  </div>
  <h1 class="mb-5">
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-stone-400 to-stone-700">
      Comitato unitario Vittime del Fango Forli
    </strong>
  </h1>
  <h3>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-stone-700 to-stone-500">
      Notizie in Evidenza
    </strong>
  </h3>
  {% set postslist = collections.featured %}
  <div class="grid grid-cols-1 lg:grid-cols-3 mb-2 gap-1 w-3/4">
  {% for post in postslist | reverse %}
    <article class="my-8 border rounded p-5">
      <h2 class="font-bold text-3xl text-gray-900 mb-2 min-h-20">
          <a href="{{ post.url | url }}">
              {% if post.data.title %}
                  {{ post.data.title }}
              {% else %}
                  Senza titolo
              {% endif %}
          </a>
      </h2>
      {% if post.data.featured %}
      <a href="{{ post.url | url }}" title="{{ post.data.title }}">
        
        <img alt="{{ post.data.title }}"
              src="{{ post.data.featured }}" 
              class="border rounded object-fill h-48 w-96"/>
      </a>
      {% endif %}

      <p>
        <a href="{{ post.url | url }}" class="text-stone-500 font-bold text-lg">
            Leggi l'articolo completo →
        </a>
      </p>
  </article>
  {% endfor %}
  </div>
  <div class="w-1/2 my-2">
    <img class="border rounded object-cover h-auto w-full min-w-96" src="/static/img/piazza-03.jpeg" alt="manifestazione in piazza 2 agosto 2023" />
  </div>
</div>