---
layout: default
title: Comitato Vittime Del Fango Forli
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1 class="mb-5">
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-stone-400 to-stone-700">
      {{title}}
    </strong>
  </h1>

  <h3>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-stone-700 to-stone-500">
      Notizie in Evidenza
    </strong>
  </h3>
  {% set postslist = collections.featured %}
  <div class="grid grid-cols-2 mb-2 gap-1 w-1/2">
  {% for post in postslist | reverse %}
    <article class="my-8">
        <h2 class="font-bold text-3xl text-gray-900 mb-2">
            <a href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Senza titolo
                {% endif %}
            </a>
        </h2>
    </article>
  {% endfor %}
  </div>
</div>