<footer class="bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2023.
    </small>
    <div class="flex flex-row space-between w-full place-content-center gap-2">
        <a href="//facebook.com/vittimedelfango" target="_blank" title="Seguici su Facebook"><svg width="30px" height="30">       
            <image xlink:href="/static/img/logos/fb.svg" width="30px" height="30"/>    
        </svg></a>
        <a href="//instagram.com/vittimedelfango" target="_blank" title="Seguici su Instagram"><svg width="30px" height="30">       
            <image xlink:href="/static/img/logos/ig.svg" width="30px" height="30"/>    
        </svg></a>
        <a href="//twitter.com/vittimedelfango" target="_blank" title="Seguici su Twitter"><svg width="30px" height="30">       
            <image xlink:href="/static/img/logos/tw.svg" width="30px" height="30"/>    
        </svg></a>
    </div>
</footer>
